Android.mk
ABOUT-NLS
install-sh
mkinstalldirs
py-compile
registry.*
coverage-report.txt
config.yaml
photo.cookie
.deps
.libs
*~
_stdint.h
*.gir
*.typelib
*.user
*.suo
*.ipch
*.sdf
*.opensdf
*.DS_Store
*.o
*.swp
*.pyc
*.pyo
